<!-- Hero -->
<div class="hero">
    <div class="hero-item" href="#" style="background-image:url('assets/img/hero_about.jpg');">
        <div class="hero-desc left-align">
            <span class="tag tag-red">Page</span>
            <h2 class="truncate">About Us</h2>
            <p class="truncate">Taiwanese Junior Chamber of Commerce Chicago</p>
            <i class="hero-desc-back" style="background-image:url('assets/img/hero_about.jpg');"></i>
        </div>
    </div>
</div>
<!-- End Hero -->

<hr class="hr hr-main">

<!-- Item List -->
<div class="row list">
    <div class="col m12 l6 item">
        <p class="item-article">TJCCC is a non-profit organization under IRC Section 501(c)(3) and affiliated with TJCCNA (Taiwanese Junior Chamber of Commerce North America).<br><br>The mission of the organization is: 1) to establish a professional and social network in the City of Chicago, 2) to promote entrepreneurship and career goals, 3) to promote mutual contacts, friendship, and exchange of information and ideas among TJCCC members, 4) to assist each other in the development of their enterprises.</p>
    </div>
    <div class="col m12 l6 item">
        <br>
        <img class="responsive-img" src="assets/img/hero_about.jpg">
    </div>
    <div class="col s12 item item-divider">
        <h5 class="item-title">Board of Director Members</h5>
    </div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_hisnkuangchen.jpg">
    </div>
    <div class="col m12 l6 item">            
        <h5><small>President</small><br>Hsin Kuang Chen</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_weilwu.png">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Vice President</small><br>Weil Wu</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_sandy.jpg">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Treasure</small><br>Sandy Chang</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_sophiahuang.jpg">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Senior Public Relations</small><br>Sophia Huang</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_selinalo.jpg">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Public Relations</small><br>Selina Lo</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_jeff.jpg">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Secretary</small><br>Jeff Shyong</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
    <div class="col s12"></div>
    <div class="col m12 l2 item">
        <br><br>
        <img class="responsive-img" src="assets/img/bod_chunpeilee.jpg">
    </div>
    <div class="col m12 l6 item">
        <h5><small>Martketing  Director</small><br>Lee Lee</h5>
        <p>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.</p>
    </div>
</div>
<!-- End Item List -->