<!-- Hero -->
<div class="hero">
    <div class="hero-item" href="#" style="background-image:url('assets/img/hero_events.jpg');">
        <div class="hero-desc left-align">
            <span class="tag tag-green">Events</span>
            <h2 class="truncate">TJCCC Events</h2>
            <p class="truncate">Event Announcements and Archives</p>
            <i class="hero-desc-back" style="background-image:url('assets/img/hero_events.jpg');"></i>
        </div>
    </div>
</div>
<!-- End Hero -->

<hr class="hr hr-main">

<!-- Item List -->
<div class="row list">       
    <div class="col s12 item item-divider">
        <h5 class="item-title">Upcoming Event</h5>
    </div>
    <div class="col s12 m6 push-m6 item">
        <br>
        <img class="responsive-img" src="assets/img/hero_1.jpg">
    </div>
    <div class="col s12 m6 pull-m6 item item-space-left">
        <h5 class="item-title truncate">"52Hz -I love you" Movie Night at Culture Center</h5>
        <div class="item-datetime"><span>OCT</span><span>10</span><span>Mon</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">有可能在201”6”的芝加哥看到201”7”才上映的台灣電影？<br>這是有可能的！！<br><br>因為魏德聖導演與女主角要帶著《52Hz, I love you》來芝加哥了！<br>繼＜海角七號＞、＜賽德克巴萊＞、＜KANO＞後，魏導將帶著2017農曆年才要上映的電影《52Hz, I love you》來芝加哥放映。<br><br>芝加哥身為這次北美巡迴的一個重點站，不只魏導會親自陪我們看電影聊電影，劇中的女主角(保密中)也會一起前來芝加哥與大家一起看電影喔！ <br><br>先來看看魏導有些話想跟北美的大家說～ <br>(特別為了我們北美鄉親錄製的，附有英文字幕！)<br>YouTube連結→ <a href="https://youtu.be/R0KhGKTd_p8">https://youtu.be/R0KhGKTd_p8</a></p>
    </div>
    <div class="col s12"></div>
    <div class="col s12 m6 push-m6 item">
        <br>
        <img class="responsive-img" src="assets/img/hero_2.jpg">
    </div>
    <div class="col s12 m6 pull-m6 item item-space-left">
        <h5 class="item-title truncate">TJCCC/TACCGC Annual BBQ Party</h5>
        <div class="item-datetime"><span>SEP</span><span>28</span><span>Wed</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">TJCCC & TACCGC Annual Summer BBQ Surf and Turf !!! <br>TJCCC cordially invites all young professionals in Chicago to attend the 2016 Annual Summer BBQ event hosted by TACCGC (TJCCC's senior chapter). We will have abundance of delicious food and drinks, including suckling pig, lamb, seafood, Taiwanese cuisines, snacks, soda, wine, beer and many more!!.<br><br>This is a great opportunity for you to come hang out with successful senior entrepreneurs and network in a lay back setting . Come join us and and make new friends!!<br>Parking: Free parking is available for all participants...<a href="#">more</a></p>
    </div>
    <div class="col s12"></div>
    <div class="col s12 m6 push-m6 item">
        <br>
        <img class="responsive-img" src="assets/img/hero_3.jpg">
    </div>
    <div class="col s12 m6 pull-m6 item item-space-left">
        <h5 class="item-title truncate">UL International Crown</h5>
        <div class="item-datetime"><span>SEP</span><span>25</span><span>Sun</span></div>
        <div class="item-tags">
        </div>
        <p class="item-article">台灣女子高球選手本周在芝加哥地區有精彩的比賽，有空的朋友們記得去幫忙加油喔!<br><br>7/20 10:30開賽，屬於慈善表演賽，是個能跟球星要簽名及合照的好機會 (當天賽事有芝加哥台美商會前會長李嘉展對上盧曉晴）<br><br>7/23 09:10開球，台灣對上中國<br><br>7/20聯絡人為 Weil Wu (請用messenger)</p>
    </div>

    <div class="col s12 item item-divider">
        <h5 class="item-title">Past Event</h5>
    </div>

    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>23</span><span>Fri</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
            <span class="tag">Tag 3</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Ne erat aperiri disputando eos. Ne molestie vituperatoribus vis. Cum fuisset placerat phaedrum at, eu pro simul viderer prodesset...<a href="#">more</a></p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>21</span><span>Wed</span></div>
        <div class="item-tags"></div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>13</span><span>Tue</span></div>
        <div class="item-tags"></div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
</div>
<!-- End Item List -->

<!-- Pagination -->
<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_right</i></a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">last_page</i></a></li>
</ul>