<!-- Hero -->
<div class="hero">
    <div class="hero-item" href="#" style="background-image:url('assets/img/hero_blog.jpg');">
        <div class="hero-desc left-align">
            <span class="tag tag-pink">Blog</span>
            <h2 class="truncate">TJCCC Blog Posts</h2>
            <p class="truncate">Useful Resources</p>
            <i class="hero-desc-back" style="background-image:url('assets/img/hero_blog.jpg');"></i>
        </div>
    </div>
</div>
<!-- End Hero -->

<hr class="hr hr-main">

<!-- Item List -->
<div class="row list">       
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>23</span><span>Fri</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>21</span><span>Wed</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>13</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>11</span><span>Sun</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>10</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>10</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
</div>
<!-- End Item List -->

<!-- Pagination -->
<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_right</i></a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">last_page</i></a></li>
</ul>