<!-- Carousel -->
<div carousel full-width="true" indicators="true" class="carousel carousel-slider center">
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_1.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-green">Event</span>
            <h2>"52Hz -I love you" Movie Night at Culture Center</h2>
            <p class="truncate">Monday, Oct 31 at 6:30 PM</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">More Details</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_1.jpg');"></i>
        </div>
    </div>
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_2.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-green">Event</span>
            <h2>TJCCC/TACCGC Annual BBQ Party</h2>
            <p class="truncate">Sunday, Aug 28 12:30 PM - 5:00 PM</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">More Details</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_2.jpg');"></i>
        </div>
    </div>
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_3.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-green">Event</span>
            <h2>UL International Crown</h2>
            <p class="truncate">Jul 20 - Jul 23 @ Merit Club</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">More Details</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_3.jpg');"></i>
        </div>
    </div>
</div>
<!-- End Carousel -->
    
<hr class="hr hr-main">

<!-- Item List -->
<div class="row list">
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>OCT</span><span>10</span><span>Mon</span></div>
        <div class="item-tags">
            <span class="tag tag-red">Page</span>
            <span class="tag">Tag 1</span>
            <span class="tag">Tag 2</span>
        </div>
        <p class="item-article">Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. <br><br> Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>28</span><span>Wed</span></div>
        <div class="item-tags">
            <span class="tag tag-green">Event</span>
            <span class="tag">Tag 2</span>
            <span class="tag">Tag 3</span>
        </div>
        <p class="item-article">Ut elit singulis comprehensam ius, pro no solum doming tractatos, sed in natum sensibus. Ferri euismod ei pri, id scripserit consequuntur duo. Cum ei omnium contentiones, in accusam intellegebat duo. Sale tibique in mea, pro falli sanctus constituam no, iusto audiam appareat ea cum.<br><br>In eum atomorum hendrerit, labitur veritus te sed. Tale quidam iuvaret vim an, ut tollit fastidii vim, mutat porro ad his. Eos nihil disputationi cu, eum tale possit possim ea, omnis rationibus interesset ea vim. Integre dissentiunt sea et. At his nominavi pericula, ei duo quidam civibus perpetua. Wisi eleifend mel ut, facer postea elaboraret et duo, duo id quas luptatum.<br><br>Ne erat aperiri disputando eos. Ne molestie vituperatoribus vis. Cum fuisset placerat phaedrum at, eu pro simul viderer prodesset...<a href="#">more</a></p>                
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>25</span><span>Sun</span></div>
        <div class="item-tags">
            <span class="tag tag-red">Page</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag tag-blue">Career</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag tag-blue">Career</span>
        </div>
        <p class="item-article">Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>23</span><span>Fri</span></div>
        <div class="item-tags">
            <span class="tag tag-pink">Blog</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Ne erat aperiri disputando eos. Ne molestie vituperatoribus vis. Cum fuisset placerat phaedrum at, eu pro simul viderer prodesset...<a href="#">more</a></p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>21</span><span>Wed</span></div>
        <div class="item-tags">
            <span class="tag tag-green">Event</span>
            <span class="tag">Tag 1</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag tag-blue">Career</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag tag-green">Event</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>13</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag tag-blue">Career</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.</p>
    </div>
</div>
<!-- End Item List -->

<!-- Pagination -->
<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_right</i></a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">last_page</i></a></li>
</ul>
<!-- End Pagination -->