<!-- Carousel -->
<div carousel full-width="true" indicators="true" class="carousel carousel-slider center">
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_career_1.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-blue">Career</span>
            <h2 class="truncate">Career</h2>
            <p class="truncate">We're Here to Help</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">More Details</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_career_1.jpg');"></i>
        </div>
    </div>
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_career_2.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-blue">Career</span>
            <h2 class="truncate">Job Hunting</h2>
            <p class="truncate">Find Your Dream Job</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">I am searching!</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_career_2.jpg');"></i>
        </div>
    </div>
    <div class="carousel-item tjccc-blue" href="#" style="background-image:url('assets/img/hero_career_3.jpg');">
        <div class="carousel-desc left-align">
            <span class="tag tag-blue">Career</span>
            <h2 class="truncate">Recruitment</h2>
            <p class="truncate">Hire the Best Wrokforce</p>
            <button class="waves-effect btn btn-large tjccc-blue" href="#">I am hiring!</button>
            <i class="carousel-desc-back" style="background-image:url('assets/img/hero_career_3.jpg');"></i>
        </div>
    </div>
</div>
<!-- End Carousel -->
<hr class="hr hr-main">

<!-- Item List -->
<div class="row list">       
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Finance</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>24</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Front-End</span>
            <span class="tag">Marketing</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>23</span><span>Fri</span></div>
        <div class="item-tags">
            <span class="tag">Design</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>21</span><span>Wed</span></div>
        <div class="item-tags">
            <span class="tag">Information Technology</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Sales</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>20</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Accounting</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>13</span><span>Tue</span></div>
        <div class="item-tags">
            <span class="tag">Mechanical Engineering</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>11</span><span>Sun</span></div>
        <div class="item-tags">
            <span class="tag">Sales Associate</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>10</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Architecture</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
    <div class="col m12 l6 item item-space-left">
        <h5 class="item-title truncate">Article Title</h5>
        <div class="item-datetime"><span>SEP</span><span>10</span><span>Sat</span></div>
        <div class="item-tags">
            <span class="tag">Web Design</span>
        </div>
        <p class="item-article">Mei blandit pericula in, doming periculis an ius, ancillae efficiendi cu usu. An fabulas eligendi ius. Eu sed omnis quidam docendi. Ex mazim legendos instructior has. Postea convenire cu has, vis ea dolorem accusata adolescens.<br><br>Lorem ipsum dolor sit amet, elit omnes ex eos, in movet fabellas intellegebat mei, tation consectetuer ne duo. Eu stet delenit deleniti sed, pro cu doctus recusabo voluptatibus, in nec aliquip fabulas. Pri an nihil constituam dissentiet. Quo in aliquam epicurei sapientem, et sumo elit gloriatur mei. Lorem eloquentiam mel ne. </p>
        <button class="item-button waves-effect btn tjccc-blue" href="#">APPLY</button>
    </div>
</div>
<!-- End Item List -->

<!-- Pagination -->
<ul class="pagination center">
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">first_page</i></a></li>
    <li class="disabled"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">chevron_right</i></a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons tjccc-blue-text">last_page</i></a></li>
</ul>